#content
  != self.partial('@common.blocks.navbar')

  .layout__container.container-fluid.space-top
    .row
      .col-md-6.offset-md-3.col-sm-8.offset-sm-2
        .card.card-block
          = self.t('activate_info')
