#content
  != self.partial('@admin.blocks.sidebar_menu', { apiPath: self.getApiPath(), menu: self.menus.admin })

  .main
    != self.partial('@admin.blocks.breadcrumbs', { apiPath: self.getApiPath(), menu: self.menus.admin })

    h1 Members search page
