@import "nodeca.core/client/common/_variables"

.member-infractions-item__m-expired
  background grayLightest

.member-infractions-item__m-deleted
  .member-infractions-item__reason
    text-decoration line-through
