.member-block

  .member-block__header
    .member-block__header-title.h2
      .member-block__header-text.pull-left
        = self.t('title')
      a.member-block__header-collapser(href='#member-about-info', data-toggle='collapse')
        .pull-right.icon-collapse
        .pull-right.icon-expand

  #member-about-info.member-block__inner.collapse.in
    dl.member-about-text.dl-horizontal
      dt Registered:
      dd 15 jun 2009

    dl.member-about-text.dl-horizontal
      dt Posts:
      dd: a(href='#') 212

    dl.member-about-text.dl-horizontal
      dt Location:
      dd: a(href='#') New Urupinsk

    dl.member-about-text.dl-horizontal
      dt Last seen:
      dd 7 dec 2014

    dl.member-about-text.dl-horizontal
      dt Contacts:
      dd ICQ
      dd Skype
      dd Hangout
      dd Jabber
      dd Email

    dl.member-about-text.dl-horizontal
      dt Birthday:
      dd 13 feb 1983

    dl.member-about-text.dl-horizontal
      dt Interests:
      dd Music, Books, Football, Tennis
