.member-block

  .member-block__header
    h2.member-block__header-title= self.t('title')

  .member-block__inner
    table.member-block-user-info
      tr
        td.member-block-user-info__param Name
        td.member-block-user-info__data Aleksandr
      tr
        td.member-block-user-info__param Surname
        td.member-block-user-info__data Makedonskiy
      tr
        td.member-block-user-info__param Birthday
        td.member-block-user-info__data 2 august 2011
      tr
        td.member-block-user-info__param Interests
        td.member-block-user-info__data Music, Books, Football, Tennis
      tr
        td(colspan=2).member-block-user-info__group Statistics
      tr
        td.member-block-user-info__param Messages
        td.member-block-user-info__data 212
      tr
        td.member-block-user-info__param Posts
        td.member-block-user-info__data 12
      tr
        td.member-block-user-info__param Comments
        td.member-block-user-info__data 7334
