<!-- ko with: about.#{self.name} -->
label.form-label.user-settings-about-field__label=self.t('location')
.mb-3
  a.form-control-plaintext(
    href=self.link_to('users.settings.location')
    data-on-click='users.settings.about:location_edit'
  )
    if self.value
      span.icon.icon-location.icon-space-after

      if self.value.name
        = self.value.name
      else
        = self.t('edit')
    else
      = self.t('set')
// /ko
