<!-- ko with: about.#{self.name} -->
label.user-settings-about-field__label=self.t('location')
.form-group
  a.form-control-plaintext(href=self.link_to('users.settings.location'))
    if self.value
      span.icon.icon-location.icon-space-after

      if self.value.name
        = self.value.name
      else
        = self.t('edit')
    else
      = self.t('set')
// /ko
