#content
  != self.partial('@common.blocks.breadcrumbs')

  header.page-head
    h1.page-head__title(itemprop='name')= self.t('title')
    p.page-head__descr.hidden-xs(itemprop='description')

  - var albumLink = self.link_to('users.albums_root', { 'user_hid': self.user_hid })
  a.btn.btn-default(href=albumLink) User albums
