@import "nodeca.core/client/common/_variables"

.member-sidebar__menu
  padding-left 0px
  li
    list-style none

.member-imagelist
  padding 0
  overflow hidden
  white-space nowrap

.member-imagelist__item
  display inline-block
  margin-right 20px

.member-block__header
  border-bottom 1px solid grayLightest

.member-block__inner
  margin 20px 0

.member-block__header-title
  font-size 24px
  margin-top 0
  margin-bottom 5px

.member-block__header-info
  margin-left 20px