@import "nodeca.core/client/common/_variables"

//
// Layout
//

.member-sidebar
  width 150px
  float left

.member-blocks
  margin-left 170px
  overflow hidden

.member-sidebar__menu
  padding-left 0px

.member-sidebar__menu-item
  list-style none
  font-size 16px
  line-height 35px
  border-radius 3px
  transition .2s ease
  &:hover
    background-color grayLightest

.member-sidebar__menu-link
  display block
  padding 0 5px
  &:hover
    text-decoration none

//
// Avatar styles
//

.member-layout.member-layout__m-avatar-exists
  .member-avatar__delete
    display block

.member-avatar
  position relative
  margin-bottom 15px
.member-avatar__image
  width 150px
  border-radius 3px
  box-shadow 0 0 2px grayLight
.member-avatar__link
  display block
.member-avatar__caption
  display block
  position absolute
  bottom 0
  width 100%
  text-align center
  background-color rgba(grayDark, 0.6)
  color grayLighter
  font-size 12px
  transition background-color .2s ease
  border-radius 0 0 3px 3px

.member-avatar__delete
  display none
  position absolute
  top 5px
  right 5px
  opacity .4
  transition opacity .2s ease

.member-avatar:hover
  .member-avatar__caption
    background-color grayDark
  .member-avatar__delete
    opacity 1

//
// Helper for small thumbnails lists
//

.member-imagelist
  padding 0
  margin 0
  white-space nowrap
  position relative

  &:after
    content ""
    display block
    position absolute
    right 0
    top 0
    bottom 0
    width 20px
    background linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)

.member-imagelist__item
  display inline-block
  margin-right 15px

//
// Content block in profile
//

.member-block
  margin-bottom 30px

.member-block__header
  border-bottom 1px solid grayLightest

.member-block__header-link
  color inherit
  float left
  &:hover
    text-decoration none

.member-block__header-title
  font-size 20px
  margin-top 0
  margin-bottom 5px

.member-block__header-collapser
  display block
  overflow hidden
  &:focus
    outline none

.member-block__inner
  margin-top 15px
  margin-left 15px

//
// Collapse toggler states
//

.member-block__header-collapser
  .icon-expand
    display none

  .icon-collapse
    opacity .3
    transition opacity .3s ease
  &:hover
    .icon-collapse
      opacity 1

  &.collapsed
    .icon-expand
      display inline
    .icon-collapse
      display none
