- var own_page = (self.runtime.user_hid === self.user.hid)

#content
  != self.partial('@common.blocks.breadcrumbs')

  header.page-head
    h1.page-head__title(itemprop='name')= self.t('title')
    p.page-head__descr.hidden-xs(itemprop='description')

  .row

    .member-sidebar.col-sm-2
      .member-sidebar__avatar
        img(src=self.link_to('core.gridfs', { bucket: self.user.avatar_id }))
      if own_page
        ul.member-sidebar__menu
          each item in self.menu_ordered
            li
              a(href=self.link_to(item.to, { user_hid: self.user.hid }))= self.t('menu.' + item.name)

    .member-blocks.col-sm-10
      each block in self.blocks_ordered
        if (self.blocks[block.name])
          != self.partial('@users.member.blocks.' + block.name, self.blocks[block.name])
