@import "nodeca.core/client/common/_variables"

.media-select-dlg__no-files
  margin-top 10px

.media-select-dlg__content
  margin-top 10px

.media-select-dlg__more-photos
  margin-top 10px

.media-select-dlg__actions
  margin 15px 0
  text-align center
