@import "nodeca.core/client/common/_variables"

.media-select-dlg__content
  overflow auto

.media-select-dlg__sidebar
  float left
  margin-right 20px
  width 150px

//
// Categories (albums)
//
.media-select-dlg__albums
  list-style none
  margin 0px
  padding 0px
  font-size 13px
  line-height 24px

.media-select-dlg__albums-item
  shortable()

.media-select-dlg__albums-link
  display block
