@import "nodeca.core/client/common/_variables"

#users-medias-upload
  text-align center
  margin 0 auto
  width 80%
  height 50px
  padding-top 15px
  margin-bottom 20px
  border-radius 3px
  background-color #f8f8f8

.user-media
  list-style none
  display inline-block
  height 240px

.user-media__image-wrapper
  overflow hidden
  width 240px
  height 180px
  border 1px solid #666
  position relative

.user-media__image
  height 180px

.user-media__edit
  position absolute
  bottom 0px
  right 56px

.user-media__delete
  position absolute
  bottom 0px
  right 0px
