@import "nodeca.core/client/common/_variables"

.dialog-list
  display table
  table-layout fixed
  width 100%

.dialog-list-filter
  margin-top .5rem !important
  color $body-color-secondary
  line-height 1.2em

.dialog-list-filter__label
  margin-bottom 0 !important

.dialog-list-filter__checkbox
  vertical-align middle
