span.oauth-btns__item
  - var link = '' +
  - 'https://accounts.google.com/o/oauth2/auth' +
  - '?scope=email%20profile' +
  - '&state=/profile' +
  - '&redirect_uri=' + self.link_to('users.auth.oauth.callback', { provider: self.provider }) +
  - '&response_type=code' +
  - '&client_id=' + self.client +
  - '&approval_prompt=force'

  a.oauth-button.icon.icon-google(
    data-url=link
    title=self.t('name')
    data-on-click='common.blocks.oauth_buttons.' + self.provider
  )
