@import "nodeca.core/client/common/_variables"

#ucard-popover
  cursor default
  background-color white
  display none
  position absolute
  z-index 2000

  width 400px
  min-height 180px
  border 6px solid grayDark
  border-radius 4px
  box-shadow 0 0 20px 5px #888

  margin-left 10px

  &.ucard-popover__m-bottom
    margin-top 10px
    margin-left 0

.ucard-head
  a
    color grayLighter
    font-size 16px
    line-height 20px
    shortable()
  background-color grayDark
  padding 6px 0 12px 130px

.ucard-sidebar
  float left
  display inline // IE7 hack
  margin -28px 20px 10px 10px
  width 100px // Fixes IE when hover on buttons

.ucard-avatar
  border 1px solid white
  box-shadow 0 0 2px 1px grayLightest
  margin-bottom 9px
  background grayLighter
  border-radius 4px
  display block
  height 100px
  width 100px

.ucard-info
  overflow hidden
  margin 10px 10px 0 20px

  > dl
    margin-top 0
    margin-bottom (baseLineHeight/2)

  dt
    opacity .7
    font-weight normal
    width 100px
  dd
    margin-left 120px
