span.oauth-btns__item
- var link = '' +
-   'https://oauth.yandex.ru/authorize' +
-   '&response_type=code' +
-   '&client_id=' + self.blocks.oauth['yandex']

  a.oauth__link.icon-yandex(href= link, title=self.t('name')) y
