- var profile_name = self.author.user_name;
- var profile_url = self.link_to('users.member', { user_hid: self.author.user_hid });
=self.t('header', { url: '[' + profile_name + '](' + profile_url + ')' })
= '\n'

-
  // calculate minimum backtick length for ````quote, so it would encapsulate
  // original content (longest backtick sequence plus 1, but at least 3)
  var backtick_seq_len = Math.max.apply(
    null,
    ('`` ' + self.report_text + ' ' + self.src_text)
      .match(/`+/g)
      .map(s => s.length)
  ) + 1;
  var backticks = '`'.repeat(backtick_seq_len);

= '\n'
= backticks + 'quote\n'
= self.report_text + '\n'
= backticks + '\n'
= '\n'
= self.t('to', { url: self.src_url }) + '\n'
= '\n'
= backticks + 'quote\n'
= self.src_text + '\n'
= backticks + '\n'
= '\n'

if self.recipients && self.recipients.length
  =self.t('message_sent_to')
  each recipient, index in self.recipients
   | [#{recipient.user_name}](#{self.link_to('users.member', { user_hid: recipient.user_hid })})
   if index !== self.recipients.length - 1
     | , 
