- self.add_raw_data('setting_schemas', self.setting_schemas)
- self.add_raw_data('settings', self.setting_values)

#content.user-settings-general-root
  - var navbar_args = { level_up: self.link_to('users.member', { user_hid: self.runtime.user_hid }) };
  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@users.settings.tabs', { active: 'general' })

    form.form.user-settings__tab-content.user-settings__m-narrow#user-settings-general(data-bind='submit: submit')
      // ko foreach: categories

      fieldset
        legend(data-bind='text: name')

        // ko foreach: settings

        .form-group.form-group-hover

          // ko if: type === 'string'
          label(data-bind='text: name')
          input.form-control(type='text' data-bind='value: value, valueUpdate: "keyup"')
          // /ko

          // ko if: type === 'dropdown'
          label(data-bind='text: name')
          select.form-control.custom-select(data-bind="options: valueOptions, optionsText: 'title', optionsValue: 'value', value: value")
          // /ko

          // ko if: type === 'number'
          label(data-bind='text: name')
          input.form-control(type='number' data-bind='value: value, valueUpdate: "keyup"')
          // /ko

          // ko if: type === 'boolean'
          .form-check
            label.form-check-label
              input.form-check-input(type='checkbox' data-bind='checked: value')
              span(data-bind='text: name')
          // /ko

          // ko if: help
          small.form-text.text-muted(data-bind="text: help")
          // /ko

        // /ko

      // /ko

      .form-actions
        button.btn.btn-primary(type='submit', data-bind='enable: isDirty')= self.t('submit')
