// maintain aspect ratio of 4:3 for the map, see
// https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
//
.user-settings-location__map-container
  width 100%
  padding-bottom 56.25%
  position relative

.user-settings-location__map
  position absolute
  top 0
  bottom 0
  left 0
  right 0

.user-settings-location__actions
  margin-top 1.5rem
