- self.add_raw_data('location', self.location)

#content.user-settings-location
  -
    const navbar_base = {
      level_up: self.link_to('users.member', { user_hid: self.runtime.user_hid })
    };

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_base)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')
      p.page-head__descr.d-none.d-sm-block(itemprop='description')
        = self.t('description')

    .alert.alert-warning
      = self.t('notice')

    .user-settings-location__map-container
      .user-settings-location__map

      button.user-settings-location__submit.btn.btn-primary(
        data-on-click='users.settings.location:save'
        type='submit'
        disabled
      )= self.t('submit')
