.change-avatar-upload__text
  padding-right 15px
  text-align center
  line-height 34px
  shortable()

.change-avatar-upload
  padding 10px 15px
  margin-bottom 10px
  border 1px solid darkgray
  &.active
    border 1px dashed black
  .btn
    margin-left 5px

.change-avatar-image__canvas
  max-width 100%

.change-avatar-image
  position relative

.change-avatar-image__select
  position absolute
  border 1px solid #000000
  left 0px
  top 0px

.change-avatar-preview
  width 100px
  height 100px
  border 1px solid #000000
