.avatar-change
  position relative
  margin 0 auto
  cursor move
  text-align center
  min-height '$$ N.config.users.avatars.resize.orig.height $$'px

.avatar-change__text
  padding 30px
  text-align center

.avatar-change__canvas
  max-width 100%

.avatar-change-preview
  position absolute
  right 10px
  top 10px
  border 2px solid #ccc
  width '$$ N.config.users.avatars.resize.md.width $$'px
  height '$$ N.config.users.avatars.resize.md.height $$'px

.avatar-change.active
  border 1px dashed #000000
