.avatar-change__select.hidden
  .avatar-change__select-move(data-action="move")
  .avatar-change__select-left(data-action="w")
  .avatar-change__select-top(data-action="n")
  .avatar-change__select-bottom(data-action="s")
  .avatar-change__select-right(data-action="e")
  .avatar-change__select-top-left(data-action="nw")
  .avatar-change__select-top-right(data-action="ne")
  .avatar-change__select-bottom-right(data-action="se")
  .avatar-change__select-bottom-left(data-action="sw")
