.avatar-change__select.hidden(data-dir="move")
  .avatar-change__select-left(data-dir="w")
  .avatar-change__select-top(data-dir="n")
  .avatar-change__select-bottom(data-dir="s")
  .avatar-change__select-right(data-dir="e")
  .avatar-change__select-top-left(data-dir="nw")
  .avatar-change__select-top-right(data-dir="ne")
  .avatar-change__select-bottom-right(data-dir="se")
  .avatar-change__select-bottom-left(data-dir="sw")
