#content
  .row
    .col-sm-8.col-sm-offset-2
      .panel.panel-default

        .panel-heading
          .panel-title=self.head.title

        form.panel-body(data-on-submit='users.dialogs_root.unsubscribe.index:confirm')

          .form-group
            p.help-block=self.t('confirmation')

          .form-group
            .checkbox
              label
                input(type='checkbox' name='confirm' data-on-change='users.dialogs_root.unsubscribe.index:change')
                =self.t('label')

          button#dialogs-unsubscribe.btn.btn-primary(type='submit' disabled=true)=self.t('ok')
