#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top
    .row
      .col-md-6.col-sm-8.m-auto
        .card

          h1.card-header.h3
            =self.head.title

          form.card-body(data-on-submit='users.dialogs_root.unsubscribe.index:confirm')

            .mb-3
              =self.t('confirmation')

            .mb-3
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox' name='confirm' data-on-change='users.dialogs_root.unsubscribe.index:change')
                  | 
                  =self.t('label')

            button#dialogs-unsubscribe.btn.btn-primary(type='submit' disabled=true)=self.t('ok')
