//.form-group.row
//  label.col-form-label.col-3= self.t('title')
//  .col-2
//    input.form-control(type='number', min=0, name='post_count_from', value=self.value && self.value[0])
//  .col-2
//    input.form-control(type='number', min=0, name='post_count_to', value=self.value && self.value[1])
