.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
          span(aria-hidden='true') &times;
          span.sr-only= self.t('close')
        h4.modal-title= self.t('title')
      #users-album-edit-select_cover_dlg__media-list.modal-body
