.member-block

  .member-block__header
    .member-block__header-title
      a.member-block__header-collapser(href='#member-blog-info', data-toggle='collapse')
        .icon.icon-collapse
        .icon.icon-expand

      a.member-block__header-link(href='#')
        = self.t('title')
        span.member-block__header-arrow.icon.icon-right-open
        small.member-block__header-counter 5

  #member-blog-info.member-block__inner.collapse.in
    ul.member-block__blog-info
      li.member-block__blog-info-item
        span.member-block__blog-info-item-time 20.05.2013
        a(href='#') Nullam ultricies, lacus eget consectetur ultrices
      li.member-block__blog-info-item
        span.member-block__blog-info-item-time 24.06.2013
        a(href='#') Nulla facilisi
      li.member-block__blog-info-item
        span.member-block__blog-info-item-time 13.08.2014
        a(href='#') Suspendisse consectetur molestie tortor sed vestibulum
