@import "nodeca.core/client/common/_variables"


.member-block__blog-info
  //font-size $font-size-sm
  line-height 1.5em
  list-style none
  margin 0
  padding 0

.member-block__blog-info-item
  margin-bottom .5em
  color $body-color-secondary
  shortable()

.member-block__blog-info-item-time
  margin-right 1em