span.attach.attach-img.attach__m-hidden(
  style=               self.image_style
  data-nd-orig=        self.orig
  data-nd-placeholder= self.placeholder
  title=               self.t('tooltip')
  data-on-click=       self.apiPath + ':expand'
  data-heavy-content-placeholder= true
)
  span.attach__spacer(
    style=self.spacer_style
  )
