span.image.image__m-hidden(
  style=               self.image_style
  data-nd-image-orig=  self.orig
  data-nd-placeholder= self.placeholder
  title=               self.t('tooltip')
  data-on-click=       self.apiPath + ':expand'
  data-heavy-content-placeholder= true
)
  span.image__spacer(
    style=self.spacer_style
  )
