a.attach.attach-img.thumb.thumb__m-responsive.thumb__m-hidden(
  data-nd-image-orig=  self.orig
  data-nd-placeholder= self.placeholder
  title=               self.t('tooltip')
  data-on-click=       self.apiPath + ':expand'
  data-heavy-content-placeholder= true
)
  img.thumb__image(
    src=    'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
    width=  self.width
    height= self.height
  )
