.member-block

  .member-block__header
    h2.member-block__header-title= self.t('title')

  .member-block__inner
    ul
      li
        a(href='#') Inventore provident fugiat minima
      li
        a(href='#') Accusamus velit nulla
      li
        a(href='#') Odit consectetur voluptates
