.member-block

  .member-block__header
    .member-block__header-title
      a.member-block__header-collapser(href='#member-bookmarks-info', data-bs-toggle='collapse')
        .icon.icon-collapse
        .icon.icon-expand

      a.member-block__header-link(href=self.link_to('users.bookmarks', { 'user_hid': self.user.hid }))
        = self.t('title')
        span.member-block__header-arrow.icon.icon-right-open
        //-small.member-block__header-counter 5

  #member-bookmarks-info.member-block__inner.collapse.show
    ul.member-block__bookmarks-info
      each bookmark in self.blocks.bookmarks.list
        li.member-block__bookmarks-info-item
          a(href=bookmark.url)= bookmark.title
