@import "nodeca.core/client/common/_variables"

.user-messages-list-reply
  width 100%
  border none
  background grayLightest
  padding (baseLineHeight / 2) 0
  text-align center
  margin (baseLineHeight / 2) 0
