.pull-left
  a.navbar__level-up.icon.icon-level-up(
    href=self.link_to('users.dialogs_root', { dialog_id: self.dialog._id })
  )

  !=self.partial('@users.dialog.blocks.page_progress', self.page_progress)

.pull-right
  != self.partial('@users.dialog.blocks.toolbar_controls')

.navbar-alt__title=self.dialog.title
