.page-actions
  if self.settings.can_create_dialogs
    button.btn.btn-secondary.btn-square.icon.icon-plus(
      type='button'
      data-on-click='users.dialogs_root:create_message'
      title=self.t('new_dialog')
    )
