if self.runtime.is_member
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      img.navbar-auth__avatar()&attributes(self.avatar(self.runtime.user_id, 'md'))
    ul.dropdown-menu
      li: a(href=self.link_to('users.member', { user_hid: self.runtime.user_hid }))=self.t('profile')

      - if (self.settings.can_access_acp)
        li: a(href=self.link_to('admin.core.dashboard'), target='_blank')= self.t('admin')

      li.divider
      li: a(href='#', data-on-click='common.blocks.logout')= self.t('logout')
else
  //- data-api-path used to highlight curent navigation
  li(data-api-path='users.auth.login')
    a(href=self.link_to('users.auth.login.show'))= self.t('login')

  li(data-api-path='users.auth.register')
    a(href=self.link_to('users.auth.register.show'))= self.t('register')
