doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    style.
      !{self.asset_body('nodeca.users/internal/users/notify/deliver_email/deliver_email.styl')}
  body
    .email-text!=self.text
    .email-footer
      if self.unsubscribe
        a(href=self.unsubscribe)=self.t('unsubscribe')
