.page-actions.user-dialog-list__toolbar-controls
  button.btn.btn-primary.icon.icon-plus(
    data-on-click='users.dialogs_root:create_message'
    type='button'
    title=self.t('create_message')
  )
