@import "nodeca.core/client/common/_variables"

.user-settings__tabs
  margin 0 auto 1rem
  text-align center

  .nav-tabs
    display inline-block

//.user-settings__tab-content

.user-settings__m-narrow
  max-width 400px
  margin 0 auto