ul.content-tabs.user-settings__tabs
  each tab in [ 'general', 'about', 'ignore', 'account' ]
    li.content-tabs-item
      a.content-tabs-link(
        href= self.link_to('users.settings.' + tab)
        class= tab === self.active ? 'active' : ''
      )= self.t(tab)
