.users-album-edit-select_cover_dlg__photo
  list-style none
  display inline-block
  width 150px
  height 112px
  overflow hidden
  margin-bottom 10px
  margin-right 10px

.users-album-edit-select_cover_dlg__photo > img
  height 112px

#users-album-edit-select_cover_dlg__photos
  list-style none
