include ./partials/_display_value

.span2
  include ../../widgets/sidebar_menu

.span10
  include ../../widgets/breadcrumbs

  form.form-horizontal(data-on-submit='admin.users.usergroups.create')
    - self.errors = self.errors || {}
    - var _status_class, _input_help_text

    input(type="hidden", name='short_name', id='short_name', value=self.short_name)

    legend
      h1= self.short_name

    include ./partials/_parent_group_select

    - var handler = 'admin.users.usergroups.update'
    - each category, category_name in self.settings_categories

      legend #{self.t('admin.setting.category.' + category_name)}
      - each item, item_name in category
        mixin display_value(item_name, item, handler)
