- var own_page = (self.runtime.user_hid === self.user.hid)

.member-block

  .member-block__header
    .member-block__header-title
      a.member-block__header-collapser(href='#member-about-info', data-bs-toggle='collapse')
        .icon.icon-collapse
        .icon.icon-expand

      .member-block__header-text
        = self.t('title')
        if own_page && self.settings.can_edit_profile
          | 
          a.btn.btn-outline-secondary.btn-sm.d-none.d-sm-inline-block.icon.icon-edit(
            href=self.link_to('users.settings.about')
          )
          span
          a.btn.btn-outline-secondary.btn-xs.d-sm-none.icon.icon-edit(
            href=self.link_to('users.settings.about')
          )

  #member-about-info.member-block__inner.collapse.show
    dl.member-about__dl
      each item in self.blocks.about.list
        dt.member-about__dt=item.title || self.t(item.name)
        dd.member-about__dd
          if self.partial_exists('blocks.' + item.name)
            != self.partial('blocks.' + item.name, item)
          else
            = item.value

      if self.blocks.about.extra.length
        each item in self.blocks.about.extra
          dt.member-about__dt.member-about__m-hidden=item.title || self.t(item.name)
          dd.member-about__dd.member-about__m-hidden
            if self.partial_exists('blocks.' + item.name)
              != self.partial('blocks.' + item.name, item)
            else
              = item.value

        dt.member-about__dt.member-about__expand
        dd.member-about__dd.member-about__expand
          a(href='#' data-on-click='users.member.blocks.about:expand')
            =self.t('expand')
