@import "nodeca.core/client/common/_variables"

.member-about-text
  margin-bottom 10px
  dt
    font-family sansWideFontFamily
    line-height baseLineHeight
    font-size 12px
    font-weight normal
    font-style italic