@import "nodeca.core/client/common/_variables"

.member-about-text
  margin-bottom 10px
  dt
    font-family sansWideFontFamily
    line-height baseLineHeight
    font-size 12px
    font-weight normal
    font-style italic

.member-block__contacts-inline
  list-style none
  margin 0
  padding 0

.member-block__contacts-inline-item
  float left

.member-block__contacts-expand
  list-style none
  margin 0
  padding 0

.member-block__contacts-expand-name:after
  content ': '
