label.form-control-label.col-xs-3=self.t(self.name)
.col-xs-4.control-value
  - var is_member_of = {};
  - self.value.forEach(function (u) { is_member_of[u] = true; });
  each usergroup in self.values
    .form-check
      label.form-check-label
        input.form-check-input(type='checkbox', name='usergroup-'+usergroup.value, checked=is_member_of[usergroup.value])
        span= usergroup.name
