@import "nodeca.core/client/admin/core/_variables"


.user-edit-usergroup-label
  display inline
  color $gray-600

  & > a
    color inherit

  &:after
    content: ', '

  &:last-child:after
    content: ''
