@import "nodeca.core/client/common/_variables"

.mod-notes-item
  border-bottom 1px solid grayLightest
  &:last-child
    border-bottom none
  margin-bottom baseLineHeight

.mod-notes-item__info-aside
  float left

.mod-notes-item__avatar-image
  width 40px
  height 40px

.mod-notes-item__controls
  float right

.mod-notes-item__info-data
  color gray
  display inline-block
  margin-left 10px
  font-size 12px

.mod-notes-item__content
  margin-top (baseLineHeight / 2)
  clear both
