@import "nodeca.core/client/common/_variables"

.user-messages-list-item__content
  margin-left 40px

.user-messages-list-item__aside
  float left

.user-messages-list-item__date
  float right

.user-messages-list-item__author
  font-size 14px
  font-weight bold
  display inline-block
