#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')

    != self.t('text')
