.avatar-change
  position relative
  margin 0 auto
  text-align center
  min-height '$$ N.config.users.avatars.resize.orig.height $$'px

.avatar-change__text
  padding 30px
  text-align center
  display block

.avatar-change__canvas
  display none
  max-width 100%
  margin 0 auto

.avatar-change-preview
  position absolute
  right 10px
  top 10px
  border 2px solid #ccc
  width '$$ N.config.users.avatars.resize.md.width $$'px
  height '$$ N.config.users.avatars.resize.md.height $$'px
  display none

.avatar-change.active
  border 1px dashed #000000

.avatar-change.avatar-change__m-loaded
  .avatar-change__canvas
    display block

  .avatar-cropper
    display block

  .avatar-change-preview
    display block

  .avatar-change__text
    display none

.avatar-dialog__m-cursor-n
  cursor n-resize
.avatar-dialog__m-cursor-e
  cursor e-resize
.avatar-dialog__m-cursor-w
  cursor w-resize
.avatar-dialog__m-cursor-s
  cursor s-resize
.avatar-dialog__m-cursor-nw
  cursor nw-resize
.avatar-dialog__m-cursor-ne
  cursor ne-resize
.avatar-dialog__m-cursor-sw
  cursor sw-resize
.avatar-dialog__m-cursor-se
  cursor se-resize
.avatar-dialog__m-cursor-move
  cursor move
