.avatar-cropper

  .avatar-cropper__move(data-action="move")

  .avatar-cropper__left(data-action="w")
    .avatar-cropper__mark(data-action="w")

  .avatar-cropper__top(data-action="n")
    .avatar-cropper__mark(data-action="n")

  .avatar-cropper__bottom(data-action="s")
    .avatar-cropper__mark(data-action="s")

  .avatar-cropper__right(data-action="e")
    .avatar-cropper__mark(data-action="e")

  .avatar-cropper__top-left(data-action="nw")
    .avatar-cropper__mark(data-action="nw")

  .avatar-cropper__top-right(data-action="ne")
    .avatar-cropper__mark(data-action="ne")

  .avatar-cropper__bottom-right(data-action="se")
    .avatar-cropper__mark(data-action="se")

  .avatar-cropper__bottom-left(data-action="sw")
    .avatar-cropper__mark(data-action="sw")
