dl.votes-popover-content

  if self.votes.up.length !== 0
    dt.votes-popover__dt
      span.icon.icon-vote-up.text-success
    dd.votes-popover__dd
      ul.votes-popover__list
        each userId in self.votes.up
          if self.users[userId]
            li.votes-popover__list-item
              a(href=self.link_to('users.member', { user_hid: self.users[userId].hid }))= self.users[userId].nick

  if self.votes.down.length !== 0
    dt.votes-popover__dt
      span.icon.icon-vote-down.text-danger
    dd.votes-popover__dd
      ul.votes-popover__list
        each userId in self.votes.down
          if self.users[userId]
            li.votes-popover__list-item
              a(href=self.link_to('users.member', { user_hid: self.users[userId].hid }))= self.users[userId].nick
