@import "nodeca.core/client/common/_variables"

.member-friends
  padding 0
  margin 0
  overflow hidden
  white-space nowrap

.member-friends__item
  display inline-block
  margin-right 15px
  text-align  center
  vertical-align top

.member-friends__avatar
  margin 0 auto
  width 100px

.member-friends__name
  display block
  width 150px
  font-size 12px
  color grayLight
  white-space normal
