.member-friends__item
  display block
  height 90px
  width 150px
  text-overflow ellipsis
  float left
  text-align  center

.member-friends__avatar
  display block
  margin 0 auto

.member-friends__name
  text-overflow ellipsis
  white-space nowrap
  width 130px
  overflow hidden
  margin 0 auto
