@import "nodeca.core/client/common/_variables"

.subscription-dlg__item
  color $body-color
  &:hover
    color $body-color
    text-decoration none

.subscription-dlg__item-heading
  font-size $h5-font-size

.subscription-dlg__item-text
  color $body-color-secondary
  font-size $font-size-sm
