// Thumbnails generic classes
//

@import "nodeca.core/client/common/_variables"

thumbImageWidth  = '$$ N.config.users.uploads.resize.sm.max_width $$'px
thumbImageHeight = '$$ N.config.users.uploads.resize.sm.height $$'px

// 170x150 -> 119x105
downScaleSm = 1.428571429
// 170x150 -> 85x75
downScaleXs = 1.7

cornerRadius = 3px
cornerRadiusSm = 2px

thumbImageWidthSm  = round(thumbImageWidth / downScaleSm)
thumbImageHeightSm = round(thumbImageHeight / downScaleSm)
thumbImageWidthXs  = round(thumbImageWidth / downScaleXs)
thumbImageHeightXs = round(thumbImageHeight / downScaleXs)

// Image container (link)
.thumb
  width thumbImageWidth
  height thumbImageHeight
  display block
  text-align center
  position relative
  border-radius cornerRadius
  box-shadow 0 0 2px grayLight

  &:before
    content ''
    height 100%
    display inline-block;
    vertical-align middle

  &:hover
    .thumb-caption
      background-color grayDark
    .thumb__control
      opacity 1

// Texts under thumbnail
.thumb-caption
  width 100%
  padding 0 3px
  display block
  position absolute
  bottom 0
  text-align left
  color grayLightest
  background-color rgba(grayDark, 0.6)
  border-radius 0 0 cornerRadius cornerRadius
  font-size 11px
  transition background-color .2s ease
  shortable()

.thumb-caption__line
  display block
  shortable()

.thumb-caption__line + .thumb-caption__line
  margin-top -0.2em

.thumb-caption.thumb-caption__m-secondary
.thumb-caption__m-secondary
  font-size 10px
  color grayLighter

// use inner only when realy need colored background
// for small images, like video previews
.thumb__inner
  display inline-block
  height 100%
  border-radius cornerRadius
  background-color #000
  vertical-align top

  &:before
    content ''
    height 100%
    display inline-block;
    vertical-align middle

.thumb__image
  max-width thumbImageWidth
  max-height thumbImageHeight
  border-radius cornerRadius
  background-color grayLighter
  display inline-block
  vertical-align middle
  text-align center


// Text content, when no image
.thumb__content
  display inline-block
  vertical-align middle
  max-width 100%
  padding 0 5px
  shortable()


// Icon marker
.thumb__icon
  position absolute
  font-size 25px
  top 7px
  right 7px
  color grayLighter

// For buttons
.thumb__control
  position absolute
  top 7px
  right 7px
  opacity .7
  transition opacity .2s ease


// Modifier to show images in small size
.thumb__m-sm
  &.thumb
    width thumbImageWidthSm
    height thumbImageHeightSm

  .thumb__image
    max-width thumbImageWidthSm
    max-height thumbImageHeightSm

  .thumb-caption
    border-radius 0 0 cornerRadiusSm cornerRadiusSm

  &.thumb
  .thumb__image
  .thumb__inner
    border-radius cornerRadiusSm

// Modifier make previews smaller on small screens
@media (max-width: screenSm - 1)
  .thumb__m-responsive
    &.thumb
      width thumbImageWidthSm
      height thumbImageHeightSm

    .thumb__image
      max-width thumbImageWidthSm
      max-height thumbImageHeightSm

    .thumb-caption
      border-radius 0 0 cornerRadiusSm cornerRadiusSm

    &.thumb
    .thumb__image
    .thumb__inner
      border-radius cornerRadiusSm

// Modifier make previews smaller on small screens
@media (max-width: screenXs - 1)
  .thumb__m-responsive
  .thumb__m-responsive.thumb__m-sm
    &.thumb
      width thumbImageWidthXs
      height thumbImageHeightXs

    .thumb__image
      max-width thumbImageWidthXs
      max-height thumbImageHeightXs

    .thumb-caption
      border-radius 0 0 cornerRadiusXs cornerRadiusXs

    &.thumb
    .thumb__image
    .thumb__inner
      border-radius cornerRadiusXs

    .thumb-caption
      font-size 10px

    .thumb-caption.thumb-caption__m-secondary
    .thumb-caption__m-secondary
      font-size 9px
