// Thumbnails generic classes
//

/*
  Expected use
  ============

  Without grid (inline-block)
  ---------------------------

  ### image

  a.thumb
    img.thumb__image
    .thumb-caption[.thumb-caption__m-secondary]
      .thumb-caption__line

  ### video

  .thumb
    a.thumb-inner
      .thumb__icon.icon.icon-video
      img.thumb__image
      .thumb-caption[.thumb-caption__m-secondary]
        .thumb-caption__line

  ### binary

  a.thumb
    .thumb__icon.icon.icon-binary
    .thumb__content
    .thumb-caption[.thumb-caption__m-secondary]
      .thumb-caption__line

  With grid (flexbox)
  -------------------

  TBD

*/


@import "nodeca.core/client/common/_variables"

thumbImageWidth  = '$$ N.config.users.uploads.resize.sm.max_width || N.config.users.uploads.resize.sm.width $$'px
thumbImageHeight = '$$ N.config.users.uploads.resize.sm.max_height || N.config.users.uploads.resize.sm.height $$'px

thumbRatio = thumbImageHeight / thumbImageWidth;

// 170x150 -> 119x105
downScaleSm = 1.428571429
// 170x150 -> 85x75
downScaleXs = 1.7

cornerRadius = 3px
cornerRadiusSm = 2px

// active item change border
selectionWidth = 3px

thumbImageWidthSm  = round(thumbImageWidth / downScaleSm)
thumbImageHeightSm = round(thumbImageHeight / downScaleSm)
thumbImageWidthXs  = round(thumbImageWidth / downScaleXs)
thumbImageHeightXs = round(thumbImageHeight / downScaleXs)

gridSpace   = 20px
gridSpaceSm = 20px //round(gridSpace / downScaleSm)
gridSpaceXs = 15px //round(gridSpace / downScaleXs)

gridSpaceTight   = 10px
gridSpaceTightSm = 10px //round(gridSpace / downScaleSm)
gridSpaceTightXs = 10px //round(gridSpace / downScaleXs)

//
// Grid to show thumbnails
//

.thumb-grid
  padding 0
  margin 0 (-1 * gridSpace / 2)

.thumb-grid__item
  display inline-block
  padding 0 (gridSpace / 2)
  margin 0 0 gridSpace
  border-radius 3px
  &.active
  &.selected
    .thumb:after
      content ''
      position absolute
      top (-1 * selectionWidth)
      left (-1 * selectionWidth)
      right (-1 * selectionWidth)
      bottom (-1 * selectionWidth)
      border selectionWidth dotted $body-color !important
      border-radius 3px
    .thumb
      opacity .5 !important

.thumb-grid__m-sm
  &.thumb-grid
    margin 0 (-1 * gridSpaceSm / 2)
  .thumb-grid__item
    padding 0 (gridSpaceSm / 2)


.thumb-grid__m-tight
  margin 0 (-1 * gridSpaceTight / 2)
  .thumb-grid__item
    padding 0 (gridSpaceTight / 2)
    margin 0 0 gridSpaceTight

  &.thumb-grid__m-sm
    &.thumb-grid
      margin 0 (-1 * gridSpaceTightSm / 2)
    .thumb-grid__item
      padding 0 (gridSpaceTightSm / 2)
      margin 0 0 gridSpaceTightSm

//
// Thumbnail container (link)
//

.thumb
  width thumbImageWidth
  height thumbImageHeight
  display inline-block
  text-align center
  position relative
  border-radius cornerRadius
  box-shadow 0 0 1px ($body-bg-secondary - 10%)
  background-color $body-bg-secondary

  &:before
    content ''
    height 100%
    display inline-block;
    vertical-align middle

// Texts under thumbnail
.thumb-caption
  position absolute
  bottom 0
  width 100%
  display block
  font-size $font-size-xs
  line-height 1.1em
  padding .5em
  text-align left
  color white - 5%
  text-shadow 0 0 1px (black + 20%)
  background linear-gradient(to top, rgba(#000, 0.5) 0%, rgba(#000, 0.1) 100%)

  border-radius 0 0 cornerRadius cornerRadius
  transition background .2s ease
  //shortable()
  &:before
    position absolute
    content ''
    width 100%
    height .5em
    background linear-gradient(to top, rgba(#000, 0.1) 0%, rgba(#000, 0) 100%)
    top -.5em
    left 0

.thumb-caption__line
  display block
  shortable()

.thumb-caption__line + .thumb-caption__line
  margin-top 0.125em

.thumb-caption.thumb-caption__m-secondary
.thumb-caption__m-secondary
  //font-size 10px
  color white - 20%

.thumb-caption__inline + .thumb-caption__inline
  margin-left 1em

// use inner only when realy need colored background
// for small images, like video previews
.thumb__inner
  display inline-block
  height 100%
  border-radius cornerRadius
  background-color #000
  vertical-align top

  &:before
    content ''
    height 100%
    display inline-block;
    vertical-align middle

.thumb__image
  max-width thumbImageWidth
  max-height thumbImageHeight
  border-radius cornerRadius
  display inline-block
  vertical-align middle
  text-align center


// Text content, when no image
.thumb__content
  display inline-block
  vertical-align middle
  max-width 100%
  padding 0 1em
  shortable()


// Icon marker
.thumb__icon
  position absolute
  font-size $font-size-lg
  line-height 1em
  top .5em
  left .5em
  color $body-color-secondary + 30%


// Modifier to show images in small size
.thumb-grid__m-sm
.thumb__m-sm
  .thumb
  &.thumb
    width thumbImageWidthSm
    height thumbImageHeightSm

  .thumb__image
    max-width thumbImageWidthSm
    max-height thumbImageHeightSm

  .thumb-caption
    border-radius 0 0 cornerRadiusSm cornerRadiusSm

  .thumb
  &.thumb
  .thumb__image
  .thumb__inner
    border-radius cornerRadiusSm


//
// Responsive rules (reduce size)
//

@media (max-width: $grid-breakpoints.md - 1)
  .thumb-grid__m-responsive
    &.thumb-grid
      margin 0 (-1 * gridSpaceSm / 2)

    .thumb-grid__item
      padding 0 (gridSpaceSm / 2)
      margin-bottom gridSpaceSm
      border-radius 3px

    &.thumb-grid__m-tight
      margin 0 (-1 * gridSpaceTightSm / 2)
      .thumb-grid__item
        padding 0 (gridSpaceTightSm / 2)
        margin-bottom gridSpaceTightSm

  .thumb-grid__m-responsive
  .thumb__m-responsive
    .thumb
    &.thumb
      width thumbImageWidthSm
      height thumbImageHeightSm

    .thumb__image
      max-width thumbImageWidthSm
      max-height thumbImageHeightSm

    .thumb-caption
      border-radius 0 0 cornerRadiusSm cornerRadiusSm

    .thumb
    &.thumb
    .thumb__image
    .thumb__inner
      border-radius cornerRadiusSm

// For portrait mobile
@media (max-width: $grid-breakpoints.sm - 1)
  .thumb-grid__m-responsive
    &.thumb-grid
      margin 0 (-1 * gridSpaceXs / 2)

    .thumb-grid__item
      padding 0 (gridSpaceXs / 2)
      margin-bottom gridSpaceXs
      border-radius 3px

    &.thumb-grid__m-tight
      margin 0 (-1 * gridSpaceTightXs / 2)
      .thumb-grid__item
        padding 0 (gridSpaceTightXs / 2)
        margin-bottom gridSpaceTightXs

  .thumb__m-responsive
  .thumb__m-responsive.thumb__m-sm
  .thumb-grid__m-responsive
    .thumb
    &.thumb
      width thumbImageWidthXs
      height thumbImageHeightXs

    .thumb__image
      max-width thumbImageWidthXs
      max-height thumbImageHeightXs

    .thumb-caption
      border-radius 0 0 cornerRadiusXs cornerRadiusXs

    .thumb
    &.thumb
    .thumb__image
    .thumb__inner
      border-radius cornerRadiusXs

    .thumb-caption
      font-size 10px

    .thumb-caption.thumb-caption__m-secondary
    .thumb-caption__m-secondary
      font-size 9px

////////////////////////////////////////////////////////////////////////////////

// Fluid grid, take all possible width

gridFluidInterval_5         = 1.5rem
gridFluidItemWidth_5        = (100 / 5)%
gridFluidItemCornerRadius_5 = 3px;

gridFluidInterval_4         = 1.5rem
gridFluidItemWidth_4        = (100 / 4)%
gridFluidItemCornerRadius_4 = 3px;

gridFluidInterval_3         = 1.5rem
gridFluidItemWidth_3        = (100 / 3)%
gridFluidItemCornerRadius_3 = 2px;

gridFluidInterval_2         = 1.5rem
gridFluidItemWidth_2        = (100 / 2)%
gridFluidItemCornerRadius_2 = 2px;



.thumb-grid.thumb-grid__m-fluid
  padding 0
  margin 0 (- gridFluidInterval_5 / 2) // (- gridFluidInterval_5)
  display flex
  flex-wrap wrap

  .thumb-grid__item
    flex 0 1 gridFluidItemWidth_5
    max-width gridFluidItemWidth_5
    padding 0 (gridFluidInterval_5 / 2)
    margin 0 0 gridFluidInterval_5
    border-radius gridFluidItemCornerRadius_5

// For fluid grids only
.thumb-grid__item-inner
  position relative
  width 100%
  max-width 100%
  &:before
    display block
    content ''
    padding-top (thumbRatio * 100)%

  .thumb
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    height 100%
  .thumb__image
    width unset !important
    height unset !important
    max-width 100%

@media (max-width: 800px - 1)
  .thumb-grid.thumb-grid__m-fluid
    margin 0 (- gridFluidInterval_4 / 2) // (- gridFluidInterval_4)

    .thumb-grid__item
      flex 0 1 gridFluidItemWidth_4
      max-width gridFluidItemWidth_4
      padding 0 (gridFluidInterval_4 / 2)
      margin 0 0 gridFluidInterval_4
      border-radius gridFluidItemCornerRadius_4

@media (max-width: 570px - 1)
  .thumb-grid.thumb-grid__m-fluid
    margin 0 (- gridFluidInterval_3 / 2) // (- gridFluidInterval_3)

    .thumb-grid__item
      flex 0 1 gridFluidItemWidth_3
      max-width gridFluidItemWidth_3
      padding 0 (gridFluidInterval_3 / 2)
      margin 0 0 gridFluidInterval_3
      border-radius gridFluidItemCornerRadius_3

@media (max-width: 390px - 1)
  .thumb-grid.thumb-grid__m-fluid
    margin 0 (- gridFluidInterval_2 / 2) // (- gridFluidInterval_2)

    .thumb-grid__item
      flex 0 1 gridFluidItemWidth_2
      max-width gridFluidItemWidth_2
      padding 0 (gridFluidInterval_2 / 2)
      margin 0 0 gridFluidInterval_2
      border-radius gridFluidItemCornerRadius_2

////////////////////////////////////////////////////////////////////////////////

// Fluid grid for modal-md content, small images

gridFluidInterval_md4         = 1rem
gridFluidItemWidth_md4        = (100 / 4)%
gridFluidItemCornerRadius_md4 = 3px;

gridFluidInterval_md3         = 1rem
gridFluidItemWidth_md3        = (100 / 3)%
gridFluidItemCornerRadius_md3 = 2px;

gridFluidInterval_md2         = 1rem
gridFluidItemWidth_md2        = (100 / 2)%
gridFluidItemCornerRadius_md2 = 2px;


.thumb-grid.thumb-grid__m-fluid-md
  padding 0
  margin 0 (- gridFluidInterval_md4 / 2) (- gridFluidInterval_md4)
  display flex
  flex-wrap wrap

  .thumb-grid__item
    flex 0 1 gridFluidItemWidth_md4
    max-width gridFluidItemWidth_md4
    padding 0 (gridFluidInterval_md4 / 2)
    margin 0 0 gridFluidInterval_md4
    border-radius gridFluidItemCornerRadius_md4

    .thumb
    .thumb__image
      width 100%
      height 100%

@media (max-width: 570px - 1)
  .thumb-grid.thumb-grid__m-fluid-md
    margin 0 (- gridFluidInterval_md3 / 2) (- gridFluidInterval_md3)

    .thumb-grid__item
      flex 0 1 gridFluidItemWidth_md3
      max-width gridFluidItemWidth_md3
      padding 0 (gridFluidInterval_md3 / 2)
      margin 0 0 gridFluidInterval_md3
      border-radius gridFluidItemCornerRadius_md3

@media (max-width: 390px - 1)
  .thumb-grid.thumb-grid__m-fluid-md
    margin 0 (- gridFluidInterval_md2 / 2) (- gridFluidInterval_md2)

    .thumb-grid__item
      flex 0 1 gridFluidItemWidth_md2
      max-width gridFluidItemWidth_md2
      padding 0 (gridFluidInterval_md2 / 2)
      margin 0 0 gridFluidInterval_md2
      border-radius gridFluidItemCornerRadius_md2
