@import "nodeca.core/client/common/_variables"

$avatar-size            = 62px // + border
$avatar-aside-size      = $avatar-size / 2

$avatar-size-sm         = 34px
$avatar-aside-size-sm   = $avatar-size-sm / 2

.dialog-list-item
  display table-row

// Avatar + tab
.dialog-list-item__aside
  display table-cell
  width $avatar-size + $avatar-aside-size
  vertical-align top
  padding-bottom 2rem

.dialog-list-item__aside-inner
  display block
  white-space nowrap

.dialog-list-item__avatar-image
  box-sizing border-box
  border 1px solid $decorator-color
  width $avatar-size
  height $avatar-size
  border-radius 0 3px 3px 0
  vertical-align top

.dialog-list-item__avatar-image-aside-left
.dialog-list-item__avatar-image-aside-right
  box-sizing border-box
  width  $avatar-aside-size
  height $avatar-size
  line-height $avatar-size
  color darken($decorator-color, 10%)
  border 1px solid $decorator-color
  text-align center
  display inline-block

.dialog-list-item__avatar-image-aside-left
  border-right none
  border-radius 3px 0 0 3px

.dialog-list-item__avatar-image-aside-right
  position relative
  border-left none
  border-radius 0 3px 3px 0
  display none
  &:after
    display none
    position absolute
    content ''
    top -.5rem
    right -.5rem
    width 1rem
    height 1rem
    border-radius 1rem
    background-color $brand-primary
    border 2px solid white

.dialog-list-item__m-unread
  .dialog-list-item__avatar-image-aside-right:after
    display block


.dialog-list-item__m-incoming
  .dialog-list-item__avatar-image-aside-left
    display none
  .dialog-list-item__avatar-image-aside-right
    display inline-block
  .dialog-list-item__avatar-image
    border-radius 3px 0 0 3px


.dialog-list-item__aside-inline
  flex 0 0 $avatar-size-sm + $avatar-aside-size-sm
  margin-right .5rem
  display none

  .dialog-list-item__avatar-image
    width $avatar-size-sm
    height $avatar-size-sm
    border-radius 0 2px 2px 0

  .dialog-list-item__avatar-image-aside-left
  .dialog-list-item__avatar-image-aside-right
    font-size $font-size-sm
    width  $avatar-aside-size-sm
    height $avatar-size-sm
    line-height $avatar-size-sm

  .dialog-list-item__avatar-image-aside-left
    border-radius 2px 0 0 2px

  .dialog-list-item__avatar-image-aside-right
    border-radius 0 2px 2px 0

.dialog-list-item__m-incoming
  .dialog-list-item__aside-inline
    .dialog-list-item__avatar-image
      border-radius 2px 0 0 2px


// Content
.dialog-list-item__content
  display table-cell
  padding-left 1rem
  vertical-align top
  padding-bottom 2rem

.dialog-list-item__header
  display flex
  align-items flex-end

.dialog-list-item__info
  flex 1 1 100%
  overflow hidden

.dialog-list-item__title
  display block
  font-size $font-size-lg
  line-height 1em
  margin-bottom .125rem
  shortable()

.dialog-list-item__talk-with
  font-size $font-size-xs
  line-height 1em
  color lighten($body-color-secondary, 20%)
  shortable()

.dialog-list-item__controls
  white-space nowrap
  font-size $font-size-xs
  line-height 1em
  margin 0 -.5rem -.5rem .5rem

a.dialog-list-item__preview
  display block
  //font-family $font-family-sans-serif-wide
  font-size $font-size-xs
  margin-top .375rem
  color $body-color-secondary
  text-decoration none

.dialog-list-item__date
  color lighten($body-color-secondary, 20%)

.dialog-list-item__delete
  color lighten($body-color-secondary, 60%)
  margin-left .25rem


@media (max-width: screenXs - 1)
  .dialog-list-item__content
    padding-left 0
  .dialog-list-item__aside
    display none
  .dialog-list-item__aside-inline
    display block
  .dialog-list-item__preview
    margin-top .5rem
