.album-edit__cover
  display none
  position relative

.album-edit__no-cover
  display block

  .btn
    padding-left 0
    padding-right 0

.has-cover
  .album-edit__cover
    display inline-block
  .album-edit__no-cover
    display none


.album-edit__cover-delete
  position absolute
  top 8px
  right 8px
  width 22px
