#users-album-edit__cover
  overflow hidden
  width 240px
  height 180px
  border 1px solid gray

#users-album-edit__no-cover
  text-align  center
  width 240px
  height 180px
  padding-top 75px

#users-album-edit__cover-img
  height 180px
