.modal.hide.fade(id=(self.id || 'select_user_modal'))
  .modal-header
    button.close(data-dismiss="modal") &times;
    h4
  .modal-body
    input(type="text", placeholder=self.t('placeholder_enter_name'))
