.form-group.row
  label.col-form-label.col-xs-3= self.t('title')
  .col-xs-2
    input.members-search__reg-date-from.form-control(type='text', name='reg_date_from', value=self.value && self.value[0])
  .col-xs-2
    input.members-search__reg-date-to.form-control(type='text', name='reg_date_to', value=self.value && self.value[1])
