- var own_page = (self.runtime.user_hid === self.user_hid)
- self.add_raw_data('profile_tab', own_page)

#content
  - var navbar_args = { level_up: self.link_to('users.member', { user_hid: self.user_hid }) };
  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')

        .page-actions.float-xs-right
          a.btn.btn-secondary(href=self.link_to('users.album', { 'user_hid': self.user_hid }))
            = self.t('all_media')

          if own_page
            button.btn.btn-secondary.btn-square.icon.icon-plus(
              data-on-click='users.albums_root.create_album'
              title=self.t('create_album')
            )

        = self.t('title')

    ul.user-albumlist.thumb-grid.thumb-grid__m-fluid
      != self.partial('@users.albums_root.list')

    p.mt-1.text-muted.text-xs-center.hidden-sm-down.icon.icon-info.icon-space-after
      = self.t('drag_tip')
