@import "nodeca.core/client/common/_variables"

.user-albumlist
  padding 0
  margin-right -20px

.user-albumlist__item
  display inline-block
  margin-right 20px
  margin-bottom 30px

.user-albumlist__item-meta
  font-size 12px
  color grayLighter

.user-albumlist__item-title
  font-size 12px
