@import "nodeca.core/client/common/_variables"

borderWidth = 3px

.user-albumlist
  padding 0
  margin-left -20px + borderWidth

.user-albumlist__item
  display inline-block
  margin-left 20px - (borderWidth * 2)
  margin-bottom 20px - (borderWidth * 2)
  border borderWidth solid transparent
  border-radius 3px

  &.active
    border borderWidth dotted grayDark
