@import "nodeca.core/client/common/_variables"

// Make read-only color appear normal
//
.user-settings-about-birthday input.form-control
  background-color $input-bg

.user-settings-about-birthday input.form-control[disabled]
  background-color $input-bg-disabled
