include ../../../partials/settings/_number
include ../../../partials/settings/_string
include ../../../partials/settings/_boolean

mixin display_value(name, item, handler)
  - _status_class = (name in self.errors) ? 'error' : ''

  - if (self.errors[name])
  - _input_help_text = self.errors[name]
  - else if (self.t.exists('admin.setting.' + name + '_help'))
  - _input_help_text = self.t('admin.setting.' + name + '_help')
  - else
  - _input_help_text = null

  - if (!('value' in item))
    - value = item.default
  - else
    - value = item.value

  .control-group(class=_status_class)
    label.control-label(for=name) #{self.t('admin.setting.' + name)}
    .controls
      case item.type
        when 'number'
          mixin display_number(name, value, handler, _input_help_text)
        when 'string'
          mixin dispay_sting(name, value, handler, _input_help_text)
        when 'boolean'
          mixin display_boolean(name, value, handler, _input_help_text)
        default
          mixin dispay_sting(name, value, handler, _input_help_text)
      .row-fluid
        input.pull-right(type="checkbox", id=name + '_override', checked=('value' in item))
