- self.users = self.users || {};

#content.user-tracker
  != self.partial('@users.blocks.breadcrumbs')

  if self.items.length === 0
    .user-tracker__no-items=self.t('nothing_new')

  else
    ul.user-tracker-items

      each item in self.items
        != self.partial('@users.tracker.blocks.' + item.type, { item: item })
