- self.users = self.users || {};

#content.user-tracker
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    .user-tracker__filter.nav
      a.nav-link.btn.btn-sm.btn-outline-success(href=self.link_to('users.tracker'))= self.t('tracker')
      a.nav-link.btn.btn-sm.btn-outline-secondary(href=self.link_to('users.subscriptions.index'))= self.t('subscriptions')

    if self.items.length === 0
      .user-tracker__no-items=self.t('nothing_new')

    else
      .user-tracker-items

        each item in self.items
          != self.partial('@users.tracker.blocks.' + item.type, { item: item })
