@import "nodeca.core/client/common/_variables"

.user-subscriptions-root .nav-tabs-underlined
  margin-bottom .5rem

.user-tracker-items
  padding 0

.user-tracker-item
  border-top 1px solid $decorator-color
  padding 1rem 0
  display flex
  &:first-child
    border-top none

.user-tracker-item__content
  flex 1 1 auto

.user-tracker-item__controls
  flex 0 0 30%

.user-tracker-item__title
  //font-family $font-family-sans-serif-wide
  position relative
  font-weight normal
  font-size $font-size-base
  line-height 1.3
  margin-top 0
  margin-bottom 0

.user-tracker-item__title-link
  color $body-color

.user-tracker-item__updated
  color $body-color-secondary

.user-tracker-item__desc
  color $body-color-secondary
  font-size $font-size-xs
  shortable()

a.user-tracker-item__desc-link
  color inherit

.user-tracker-item__author
  color $body-color-secondary
  font-size $font-size-xs

.user-tracker__filter
  margin-bottom 1.5rem

.user-tracker__no-items
  margin-top 1.5rem
