@import "nodeca.core/client/common/_variables"

.dialogs-create__user-nick-input
  margin-bottom 5px

.dialogs-create__user-nick-group
  width 100%
  display none

.dialogs-create-editor__m-with-nick
  .mdedit-header__caption
    display none
  .dialogs-create__user-nick-group
    display table

.dialogs-create-editor__m-with-nick.mdedit__m-collapsed
  .mdedit-header__caption
    display block

.dialogs-create__user-nick-label
  display table-cell
  white-space nowrap
  vertical-align middle
  width 1%
  padding-right 1em

