//- Focus on `to` field if it is not filled (editor will search element with tabindex = 1)
.mdedit-header__addon
  .dialogs-create__user-nick-group
    .dialogs-create__user-nick-label
      label=self.t('to_label')
    .dialogs-create__user-nick-col
      input.dialogs-create__user-nick-input.form-control(
        placeholder=self.t('to_placeholder')
        value=self.to
        tabindex=self.to ? -1 : 1
      )
