.mdedit-header__addon
  input.dialogs-create__to.form-control(
    placeholder=self.t('to')
    value=self.to
    tabindex=1
  )
.mdedit-header__addon
  input.dialogs-create__title.form-control(
    placeholder=self.t('title')
    value=self.title
    tabindex=2
  )
