button.mdedit-btn__options.btn.btn-link.d-none.d-sm-inline-block(
  data-on-click='users.dialog.create:options'
  tabindex=5
)= self.t('options')
button.mdedit-btn__options.btn.btn-link.d-sm-none.icon.icon-sliders(
  data-on-click='users.dialog.create:options'
  tabindex=5
  title=self.t('options')
)
