#content
  form.form-horizontal(data-on-submit='admin.users.usergroups.update')
    - self.errors = self.errors || {}
    - var _input_help_text

    legend
      h1 #{self.head.title}

    .cg-head

      input(type="hidden", name='_id', value=self.current._id)

      != self.partial('@admin.users.blocks.parent_group_select')
      != self.partial('@admin.users.blocks.settings_filter')


    - each category, category_name in self.settings_categories

      legend #{self.t('@admin.setting.category.' + category_name)}
      - each item, item_name in category
        != self.partial('@admin.users.blocks.display_value', { name: item_name, item: item })


    .form-actions
      button.btn.btn-primary.btn-large(type='submit') #{self.t('save')}
