div#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.menus.admin })

  div.main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.menus.admin })

    h1= self.head.title

    - self.add_raw_data('currentGroupId', self.currentGroupId);
    - self.add_raw_data('allGroupsData',  self.allGroupsData);
    - self.add_raw_data('settingSchemas', self.settingSchemas);
    - self.add_raw_data('settingValues',  self.settingValues);

    include ./_form
