#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    - self.add_raw_data('setting_schemas', self.setting_schemas)
    - self.add_raw_data('groups_data',     self.groups_data)

    != self.partial('@admin.users.usergroups.form')
