#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.runtime.menus.admin })

  .main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.runtime.menus.admin })

    h1= self.head.title

    - self.add_raw_data('setting_schemas', self.setting_schemas)
    - self.add_raw_data('groups_data',     self.groups_data)

    != self.partial('@admin.users.usergroups.form')
