.form-group.row
  label.col-form-label.col-3= self.t('title')
  .col-4
    select.form-control(name=self.name)
      option
      each value in self.values || []
        option(
          value= value.value
          selected= value.value===self.value
        )= value.name
