@import "nodeca.core/client/common/_variables"

.user-subscriptions-list
  padding 0

.user-subscriptions-item
  display flex
  margin-bottom 1.5rem

.user-subscriptions-item__content
  flex 1 1 auto
  align-self center

.user-subscriptions-item__controls
  align-self center
  white-space nowrap
  margin-left .5rem

.user-subscriptions-item__title
  font-family $font-family-sans-serif-wide
  position relative
  font-weight normal
  font-size $font-size-base
  line-height 1.3
  margin-top 0
  margin-bottom 0

.user-subscriptions-item__btn-delete
  margin-left 10px

.user-subscriptions-item__title-link
  color $body-color

.user-subscriptions-item__desc
  color $body-color-secondary
  font-size $font-size-xs
  shortable()

.user-subscriptions-item__desc-link
  color inherit

.user-subscriptions-tab-pane__empty
  display none
  margin-top 1.5rem

.user-subscriptions-tab-pane[data-count='0']
  .user-subscriptions-tab-pane__empty
    display block
