- var editable = self.runtime.user_name == self.user_name
#content
  // TODO: breadcrumbs
  //!= self.partial('@common.blocks.breadcrumbs')

  header.page-header
    h1= self.t('title')
      if editable
        button.create-album.btn.btn-primary.pull-right(data-on-click='users.member.albums.create_album')= self.t('create_album')
  #album-content
    if self.showAsAlbums
      != self.partial('@users.blocks.albums_list')
