@import "nodeca.core/client/common/_variables"

.user-album
  margin 0 auto
  width 242px
  height 240px

.user-album__image-wrapper
  overflow hidden
  width 240px
  height 180px
  border 1px solid gray
  position relative

.user-album__image
  height 180px

.user-album__date
  width 50%
  float left

.user-album__count
  width 50%
  float right
  text-align right
  padding-right 10px

.user-album__footer
  clear both

.user-album__no-cover
  width 100%
  text-align center
  padding-top 80px

.update-album
  position absolute
  bottom 0px
  right 56px

.destroy-album
  position absolute
  bottom 0px
  right 0px
