- var own = (self.runtime.user_hid === self.user_hid)
#content
  != self.partial('@common.blocks.breadcrumbs')

  if own
    .breadcrumbs
      a.btn.btn-default.btn-sm(href='#')= self.t('all_media')
      |  
      button.btn.btn-default.btn-sm(data-on-click='users.member.albums.create_album')= self.t('create_album')


  header.page-head.albums-head
    h1.page-head__title(itemprop='name')= self.t('title')
    p.page-head__descr.hidden-xs(itemprop='description')

  #users-albums-list
    != self.partial('@users.blocks.albums_list')
