@import "nodeca.core/client/common/_variables"


.user-settings-account__active-sessions
  margin-top 2rem

.user-settings-account__session
  padding-bottom 1rem
  border-bottom 1px solid $decorator-color
  margin-bottom 1rem

.user-settings-account__logout
  float right

.user-settings-account__logout-btn
  padding 0

.user-settings-account__device
  font-size $font-size-xs

.user-settings-account__ip
  color $body-color-secondary - 20%
  font-size $font-size-xs
