@import "nodeca.core/client/common/_variables"

.user-medialist
  padding 0

.user-medialist__item
  display inline-block
  margin-right 40px
  margin-bottom 20px

.user-medialist__item-meta
  font-size 12px
  color grayLighter

.user-medialist__item-title
  font-size 12px


#users-album__upload
  text-align center
  margin 0 auto
  width 80%
  height 50px
  padding-top 15px
  margin-bottom 20px
  border-radius 3px
  background-color #f8f8f8
  position relative

#users-album__upload-button
  position relative
  overflow hidden
  margin-right 10px

#users-album__upload-button input[type=file]
  position absolute
  top 0
  right 0
  min-width 100%
  min-height 100%
  font-size 999px
  text-align right
  filter unquote('alpha(opacity = 0)')
  opacity 0
  outline none
  background white
  cursor inherit
  display block

#users-album__upload-button-wrapper
  position absolute
  right 10px
  top 8px

#users-album__upload.active
  border 1px dashed black
