@import "nodeca.core/client/common/_variables"

.user-album-page .page-head__descr
  font-size 14px
  color gray
  margin-left 0

.user-medialist
  padding 0
  margin-left -20px

.user-medialist__item
  display inline-block
  margin-left 20px
  margin-bottom 30px

.user-medialist__item-meta
  font-size 12px
  color grayLighter

.user-medialist__item-title
  font-size 12px


.user-album-upload
  padding 10px 15px
  &.active
    border 1px dashed black

  .btn
    margin-left 5px

.user-album-upload__text
  padding-right 15px
  text-align center
  line-height 34px
  shortable()
