@import "nodeca.core/client/common/_variables"

.user-medialist
  padding 0
  margin-right -20px

.user-medialist__item
  display inline-block
  margin-right 20px
  margin-bottom 30px

.user-medialist__item-meta
  font-size 12px
  color grayLighter

.user-medialist__item-title
  font-size 12px


.user-album-upload
  padding 10px 15px
  &.active
    border 1px dashed black

  .btn
    margin-left 5px

.user-album-upload__text
  padding-right 15px
  text-align center
  line-height 34px

  overflow hidden
  white-space nowrap
  text-overflow ellipsis
