@import "nodeca.core/client/common/_variables"

.user-media
  list-style none
  display inline-block
  height 240px
  position relative
  margin 0 auto
  width 242px

.user-medias-list
  list-style none

.user-media__image-wrapper
  overflow hidden
  width 240px
  height 180px
  border 1px solid #666
  position relative
  z-index 10

.user-media__image
  height 180px

.user-media__edit
  position absolute
  bottom 61px
  right 59px
  z-index 20

.user-media__delete
  position absolute
  bottom 61px
  right 3px
  z-index 20
