ul.user-medias-list
  each media in self.medias
    - href = self.link_to('users.media', { 'user_hid': self.user_hid, 'media_id': media._id })
    li.user-media
      .user-media__image-wrapper
        if media.type === 'image'
          - var imageUrl = self.link_to('core.gridfs', { 'bucket': media.file_id + '_sm' })
          a(href=href)
            img.user-media__image(src=imageUrl)
        else if media.type === 'medialink'
          != media.medialink_html
        else if media.type === 'file'
          -// TODO
      .user-media__description
        a(href=href)= media.description
      .user-media__date
        a(href=href)= self.date(media.ts, 'date')
