@import "nodeca.core/client/common/_variables"

.user-media
  display inline-block
  height 240px
  position relative
  width 242px
  margin-right 40px

.user-medias-list
  list-style none

.user-media__image-wrapper
  overflow hidden
  width 240px
  height 180px
  border 1px solid #666
  position relative
  z-index 10

.user-media__image-wrapper .medialink-video iframe
  border none
  width 240px
  height 180px

.user-media__binary
  text-align center
  padding-top 75px
