#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top
    .row
      .col-md-6.col-sm-8.m-auto
        .card.card-body
          = self.t('success')
