@import "nodeca.core/client/common/_variables"

.uploader-progress__container
  position relative

.uploader-progress__status
  display none
  position absolute
  font-size $font-size-xs
  top 0
  left 0
  right 0
  height 1rem
  line-height 1rem
  text-align center
  z-index 10

.uploader-progress__name
  font-size $font-size-sm
  shortable()
