@import "nodeca.core/client/common/_variables"

.user-media
  text-align center

.user-media__video
  max-width 800px
  margin 0 auto

.user-media__binary
  font-size 18px

.user-media__comments
  list-style: none;
  margin: 0
  padding: 0

.user-mediapage.deleted
  .user-mediapage__delete
    display none

.user-mediapage
  .user-mediapage__delete
    display block

.user-mediapage__restore
  margin 0 auto
  position fixed
  bottom 0px
  left 45%
  padding 10px 20px
  background #ffffff
  z-index 30
  border 1px solid #000000
