- self.add_raw_data('about', self.about)

#content.user-settings-about
  - var navbar_args = { level_up: self.link_to('users.member', { user_hid: self.runtime.user_hid }) };
  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@users.settings.tabs', { active: 'about' })

    form.form.user-settings__tab-content.user-settings__m-narrow#user-settings-about(data-bind='submit: submit')

      each item in self.about
        - var name = item.name;

        .form-group-hover.user-settings-about-field.mb-3(
          data-bind= 'css: { "user-settings-about-field__m-mandatory": about.' + name + '.must_fill }'
        )

          if self.partial_exists('blocks.' + name)
            != self.partial('blocks.' + name, item)
          else
            label.form-label.user-settings-about-field__label
              = self.t.exists(name) ? self.t(name) : self.t('@users.about.' + name)
            input.form-control(type='text', data-bind='value: about.' + name + '.value, valueUpdate: "keyup", disable: about.' + name + '.readonly, css: { "is-invalid": about.' + name + '.hasError }')

          <!-- ko if: about.#{name}.help -->
          small.form-text.text-muted(data-bind='text: about.' + name + '.help')
          <!-- /ko -->

      .mt-4
        button.btn.btn-primary(type='submit', data-bind='enable: isDirty() && !isSubmitting()')= self.t('submit')
